$primary: rgb(0, 0, 0);
$primary-bg: #eee;
$link: rgb(255, 255, 255);
$active-link: rgb(202, 131, 0);
$active-link-hovered: rgb(224, 146, 0);
// $card-bg: rgb(131, 123, 240);
$card-bg: rgb(202, 131, 0);
$nav-width: 90px;
