@use "src/vars";

.player {
  position: fixed;
  bottom: 41px;
  width: 100vw;

  padding: 15px 0;
  background-color: gray;

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
}

.control-btn {
  width: 30px;
  height: 30px;
}

.control-bar {
  display: flex;
  gap: 20px;
}

.timeline {
  flex-grow: 1;
  display: flex;
  gap: 10px;
  input {
    flex-grow: 1;
    background-color: red;
  }
}
